#FeedbackPage {
    margin-top: 3vh;
}

.Content {
    width:90vw;
}

.FeedbackBox {
    width: 90%;
    height:100px;
    border:2px solid #045CB4;
    border-radius: 20px;
    padding:2%;
    margin-bottom: 1%;
    resize: none;
}