.SideBar{
  background-color: #262626;
  color:white;
  min-height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.TraineeList{
    padding: 20px;
    margin-left: 160px;
}
.TraineeCard{
    border: 2px solid #045cb4;
    border-radius: 20px;   
}
.ReviewColumn {
    text-align: center;
    float: left;
    width: 20%;
}
#MetricsColumn{
    width:40%;
}
.RAG{
    width:20px;
    height:20px;
    margin: auto;
    border-radius: 50%;
}#Red{
    border:2px solid lightcoral;
    background-color: red;
}#Amber{
    border:2px solid lightyellow;
    background-color: orange;
}#Green{
    border:2px solid lightgreen;
    background-color: #4CAF50;
}