button{
    width:140px;
    height:30px;
    margin:5px;
    background-color: white;
    border: 1px solid #045cb4;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}button:hover{
  background-color: #045cb4;
  color:white;
}
h{
    font-size: 30px;
    margin-bottom: 20px;
}
fieldset{
    border: 2px solid #045cb4;
    border-radius: 20px;  
    margin-bottom: 2%;
    padding: 2%;
}